.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__container{
  min-height: 100vh;
  width: 100%;
}

.bg__setting {
  /* background: url('./assets/bg.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.wrapper__setting{
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.page-title{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: var(--font-base);
}

