
.PropertyPage{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




.searchBar-container{
    padding-top:10vh;
    width: 40%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.FilterOption-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    gap:50px;
}

.filter-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    min-width: 8rem;
    background-color: lightsalmon;
    border-radius: 50px;
}